.app-logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  transition: color 0.3s;

  font-family: $main-font;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: $white;
  text-decoration: none;
  word-break: break-word;

  outline: none;

  @media (max-width: $laptop-width - 1px) {
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;
  }

  @media (max-width: $tablet-width - 1px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.app-logo:hover,
.app-logo:focus {
  color: $warm-grey;
}

.app-logo span {
  max-width: 120px;

  margin-left: 16px;
  margin-bottom: 5px;

  @media (max-width: $laptop-width - 1px) {
    max-width: 70px;

    margin-left: 8px;
    margin-bottom: 3px;
  }

  @media (max-width: $tablet-width - 1px) {
    margin-left: 10px;
  }
}

.app-logo rect {
  fill: $white;

  transition: fill 0.3s;
}

.app-logo:hover rect,
.app-logo:focus rect {
  fill: $warm-grey;
}

.app-logo svg {
  @media (max-width: $laptop-width - 1px) {
    width: 37px;
    height: 37px;
  }

  @media (max-width: $tablet-width - 1px) {
    width: 42px;
    height: 42px;
  }
}
