.app-function {
  max-width: 1500px;
  position: relative;

  margin: 0 auto;
  margin-bottom: 136px;

  @media (max-width: $desktop-width - 1px) {
    max-width: 100%;

    margin: 0 $laptop-margin;
  }

  @media (max-width: $tablet-width - 1px) {
    margin: 0 $mobile-margin;
  }
}

.app-function h2 {
  font-size: 46px;
  font-weight: 400;
  line-height: normal;
  color: $grapefruit;

  margin: 0;
  margin-bottom: 42px;

  @media (max-width: $laptop-width - 1px) {
    font-size: 28px;

    margin-bottom: 30px;
  }

  @media (max-width: $tablet-width - 1px) {
    font-size: 22px;

    margin-bottom: 24px;
  }
}

.app-function__list {
  display: flex;
  flex-wrap: wrap;

  @include indents-zero;
}

.app-function__item {
  width: 22%;
  display: flex;
  align-items: center;

  margin-right: 3.6%;
  margin-bottom: 40px;

  @media (max-width: $desktop-width - 1px) {
    width: 32%;

    margin-right: 2%;
  }

  @media (max-width: $laptop-width - 1px) {
    width: 46%;

    margin-right: 6.6%;
    margin-bottom: 30px;
  }

  @media (max-width: $tablet-width - 1px) {
    width: 100%;

    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .app-function__item:nth-child(4n) {
    margin-right: 0;
  }
}

@media (min-width: $laptop-width) and (max-width: $desktop-width - 1px) {
  .app-function__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) and (max-width: $laptop-width - 1px) {
  .app-function__item:nth-child(2n) {
    margin-right: 0;
  }
}

.app-function__item p {
  max-width: 210px;

  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: $black;
  word-break: break-word;

  margin: 0;
  margin-left: 25px;

  @media (max-width: $laptop-width - 1px) {
    font-size: 16px;

    margin-left: 20px;
  }

  @media (max-width: $tablet-width - 1px) {
    margin-left: 35px;
  }
}

.app-function__new-function {
  position: relative;
  word-break: keep-all;

  &::before {
    content: "Скоро";
    position: absolute;
    top: -2px;
    left: 0;

    font-family: $main-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: $white;

    padding: 0 8px;

    border-radius: 9px;
    background-image: linear-gradient(to right, $salmon 0%, $grapefruit 100%);
  }
}

.app-function__item svg {
  flex-shrink: 0;

  @media (max-width: $laptop-width - 1px) {
    width: 45px;
    height: 45px;
  }
}
