.device-toggle {
  display: flex;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 200px;
    right: 95px;
  }

  @media (max-width: $desktop-width - 1px) {
    margin-right: 10px;
  }
}

.device-toggle__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.device-toggle__item:first-of-type {
  margin-right: -40px;

  // @media (max-width: $laptop-width - 1px) {
  //   margin-right: -20px;
  // }
}

.device-toggle__item img {
  position: relative;
  width: 251px;
  height: 495px;
  order: 1;
  transition: transform 0.2s;
  transition-timing-function: ease-in;

  margin-bottom: 110px;

  @media (max-width: $laptop-large-width - 1px) {
    width: 200px;
    height: 400px;

    margin-bottom: 40px;
  }

  @media (max-width: $laptop-width - 1px) {
    width: 147px;
    height: 294px;
  }
}

.device-toggle__item label {
  order: 3;

  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: $warm-grey;

  margin-top: -15px;
  padding-top: 25px;

  cursor: pointer;

  transition: color 0.2s;

  @media (max-width: $laptop-width - 1px) {
    font-size: 16px;
  }
}

.device-toggle__item label:hover,
.device-toggle__item input:focus ~ label {
  color: $grapefruit;
}

.device-toggle__item input:checked ~ picture img {
  transform: scale(1.2);
  z-index: 5;
}

.device-toggle__item input:checked ~ .device-toggle__input-imitation {
  background-color: $warm-grey;
}

.device-toggle__input-imitation {
  width: 10px;
  height: 10px;
  order: 2;

  border: 2px solid $warm-grey;
  border-radius: 50%;

  @media (max-width: $laptop-width - 1px) {
    width: 7px;
    height: 7px;
  }
}
