.download {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
}

.download--mobile-hidden {
  @media (max-width: $tablet-width - 1px) {
    display: none;
  }
}

.download--tablet-hidden {
  width: 100%;
  justify-content: center;
  flex-direction: row-reverse;

  margin-bottom: 70px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (max-width: 359px) {
    justify-content: space-between;
  }
}

.download--tablet-hidden .download__link svg {
  width: 130px;
  height: 35px;

  @media (max-width: $tablet-width - 1px) {
    width: 120px;
  }
}

.download--tablet-hidden .download__link {
  margin: 0;
}

.download--tablet-hidden .download__link:first-child {
  margin-left: 15px;

  @media (max-width: 359px) {
    margin: 0;
  }
}

.download--tablet-hidden .download__link:last-child {
  margin-right: 15px;

  @media (max-width: 359px) {
    margin: 0;
  }
}

.download__link {
  height: 46px;

  margin-left: 25px;

  text-decoration: none;

  outline: none;

  @media (max-width: $laptop-width - 1px) {
    height: 25px;

    margin-left: 5px;
  }

  @media (max-width: $tablet-width) {
    height: 35px;
  }
}

.download__link rect {
  stroke: $white;

  transition: stroke 0.3s;
}

.download__link:hover rect,
.download__link:focus rect {
  fill: $warm-grey;
  stroke: $warm-grey;
}

.page-header .download {
  margin-right: 58px;

  @media (max-width: $laptop-width - 1px) {
    margin-right: 22px;
  }
}

.download__link svg {
  @media (max-width: $laptop-width - 1px) {
    width: 87px;
    height: 25px;
  }
}
