.features-list {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  @include indents-zero;

  @media (max-width: $desktop-width - 1px) {
    width: 44%;
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (max-width: $laptop-width - 1px) {
    width: 44%;
  }

  @media (max-width: $tablet-width - 1px) {
    width: 100%;

    margin-bottom: 10px;
  }
}

.features-list__item {
  display: flex;
  align-items: center;
  width: 46.5%;

  margin-bottom: 30px;

  @media (max-width: $desktop-width - 1px) {
    width: 100%;
  }

  @media (max-width: $laptop-width - 1px) {
    margin-bottom: 14px;
  }
}

.features-list__item p {
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  word-break: break-word;

  margin: 0;

  @media (max-width: $laptop-width - 1px) {
    font-size: 14px;
    font-weight: 100;
  }
}

.features-list__item svg {
  flex-shrink: 0;

  margin-right: 39px;

  @media (max-width: $laptop-large-width - 1px) {
    width: 60px;
    height: 60px;

    margin-right: 30px;
  }

  @media (max-width: $laptop-width - 1px) {
    width: 45px;
    height: 45px;

    margin-right: 30px;
  }

  @media (max-width: $tablet-width - 1px) {
    margin-right: 35px;
  }
}
