.health-parameters {
  margin-bottom: 98px;

  @media (max-width: $laptop-width - 1px) {
    margin-bottom: 105px;
  }

  @media (max-width: $tablet-width - 1px) {
    margin-bottom: 62px;
  }
}

.health-parameters__content-wrapper {
  display: flex;
  max-width: 1500px;

  margin: 0 auto;

  @media (max-width: $desktop-width - 1px) {
    max-width: 100%;

    margin: 0 $laptop-margin;
  }

  @media (max-width: $laptop-large-width - 1px) {
    flex-direction: column;
  }

  @media (max-width: $tablet-width - 1px) {
    margin: 0 15px;
  }
}

.health-parameters__inner-wrapper {
  width: 30%;

  margin-right: 145px;

  @media (max-width: $desktop-width - 1px) {
    margin-right: 50px;
  }

  @media (max-width: $laptop-large-width - 1px) {
    width: 100%;

    margin-bottom: 30px;
  }

  @media (max-width: $tablet-width - 1px) {
    margin-right: 0;
    margin-bottom: 38px;

    padding: 0 21px;
  }
}

.health-parameters h2 {
  font-size: 46px;
  font-weight: 400;
  line-height: normal;
  color: $salmon;
  word-break: break-word;

  margin: 0;
  margin-top: 90px;
  margin-bottom: 39px;

  @media (max-width: $laptop-width - 1px) {
    max-width: 80%;

    font-size: 28px;

    margin-top: 30px;
    margin-bottom: 19px;
  }

  @media (max-width: $tablet-width - 1px) {
    font-size: 22px;

    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.health-parameters__list-wrapper {
  @media (min-width: $tablet-width) and (max-width: $laptop-large-width - 1px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @media (max-width: $tablet-width - 1px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.health-parameters__list {
  @include indents-zero;

  @media (max-width: $laptop-large-width - 1px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) and (max-width: $laptop-large-width - 1px) {
    width: 47%;
  }
}

.health-parameters__list:first-of-type {
  @media (min-width: $tablet-width) and (max-width: $laptop-large-width - 1px) {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

.health-parameters__list:first-of-type .health-parameters__item:nth-child(1) {
  @media (min-width: $tablet-width) and (max-width: $laptop-large-width - 1px) {
    order: 3;
  }
}

.health-parameters__item {
  position: relative;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.78;
  color: $warm-grey;

  margin-bottom: 5px;
  padding-left: 27px;

  &::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 13px;
    left: 0;

    background-color: $salmon;
    border-radius: 50%;
  }

  @media (max-width: $laptop-width - 1px) {
    font-size: 16px;
    line-height: 26px;

    margin-bottom: 0;
    padding-left: 20px;

    &::before {
      width: 5px;
      height: 5px;
      top: 10px;
    }
  }

  @media (max-width: $tablet-width - 1px) {
    font-size: 14px;
    line-height: 22px;

    padding-left: 15px;

    &::before {
      top: 8px;
    }
  }
}

.health-parameters__item p {
  margin: 0;
}
