.info {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  color: $grey;

  @media (max-width: $laptop-width - 1px) {
    font-size: 12px;
  }

  @media (max-width: $tablet-width - 1px) {
    text-align: left;
  }
}

.info p {
  margin: 0;
}

.info a {
  transition: color 0.3s;

  outline: none;
}

.info a:hover,
.info a:focus {
  color: $grapefruit;
}
