.slider {
  position: relative;
  width: 809px;
  overflow: hidden;
  flex-shrink: 0;

  padding: 35px 0;

  @media (max-width: $laptop-large-width - 1px) {
    margin: 0 auto;
  }

  @media (max-width: $laptop-width - 1px) {
    width: 568px;

    padding: 25px 0;
  }

  @media (max-width: $tablet-width - 1px) {
    width: 288px;

    padding: 12px 0;
  }
}

.slider .swiper-container {
  width: 1290px;
  height: 645px;

  margin-left: -240px;

  @media (max-width: $laptop-width - 1px) {
    width: 900px;
    height: 452px;

    margin-left: -166px;
  }

  @media (max-width: $tablet-width - 1px) {
    width: 460px;
    height: 230px;

    margin-left: -86px;
  }
}

.slider .swiper-slide {
  height: 645px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 30px;

  @media (max-width: $laptop-width - 1px) {
    height: 452px;
  }

  @media (max-width: $tablet-width - 1px) {
    height: 230px;

    border-radius: 15px;
  }
}

.slider .swiper-slide-active {
  z-index: 33 !important;
}

.slider .swiper-button-prev,
.slider .swiper-button-next {
  width: 82px;
  height: 82px;
  
  transition: background-color 0.2s, box-shadow 0.2s;

  font-size: 0;

  margin-top: -41px;

  background-color: $grapefruit;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 9px 0 rgba(0, 63, 73, 0.1), 0 10px 25px 0 rgba(186, 16, 12, 0.3);
  outline: none;

  @media (max-width: $laptop-width - 1px) {
    width: 47px;
    height: 47px;

    margin-top: -30px;
  }

  @media (max-width: $tablet-width - 1px) {
    display: none;
  }
}

.slider .swiper-button-prev {
  left: 318px;

  background-image: url("../img/arrow-prev.svg");
  background-size: 17px 39px;

  @media (max-width: $laptop-width - 1px) {
    left: 263px;

    background-size: 12px 26px;
  }
}

.slider .swiper-button-next {
  right: 310px;

  background-image: url("../img/arrow-next.svg");
  background-size: 17px 39px;

  @media (max-width: $laptop-width - 1px) {
    right: 255px;

    background-size: 12px 26px;
  }
}

.slider .swiper-button-prev:hover,
.slider .swiper-button-next:hover,
.slider .swiper-button-prev:focus,
.slider .swiper-button-next:focus {
  background-color: $warm-grey;
  box-shadow: 0 10px 25px 0 $warm-grey;
}

.slider .swiper-button-prev:active,
.slider .swiper-button-next:active {
  box-shadow: none;
}

.slider__item-1 {
  background-image: url("../img/android-1.jpg");

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/android-1@2x.jpg");
  }
}

.webp .slider__item-1 {
  background-image: url("../img/webp/android-1.webp");

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/webp/android-1@2x.webp");
  }
}

.slider__item-2 {
  background-image: url("../img/android-2.jpg");

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/android-2@2x.jpg");
  }
}

.webp .slider__item-2 {
  background-image: url("../img/webp/android-2.webp");

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/webp/android-2@2x.webp");
  }
}

.slider__item-3 {
  background-image: url("../img/android-3.jpg");

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/android-3@2x.jpg");
  }
}

.webp .slider__item-3 {
  background-image: url("../img/webp/android-3.webp");

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/webp/android-3@2x.webp");
  }
}

.slider__item-4 {
  background-image: url("../img/android-4.jpg");

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/android-4@2x.jpg");
  }
}

.webp .slider__item-4 {
  background-image: url("../img/webp/android-4.webp");

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/webp/android-4@2x.webp");
  }
}

.slider__item-5 {
  background-image: url("../img/android-5.jpg");

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/android-5@2x.jpg");
  }
}

.webp .slider__item-5 {
  background-image: url("../img/webp/android-5.webp");

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/webp/android-5@2x.webp");
  }
}

.slider__item-6 {
  background-image: url("../img/android-6.jpg");

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/android-6@2x.jpg");
  }
}

.webp .slider__item-6 {
  background-image: url("../img/webp/android-6.webp");

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/webp/android-6@2x.webp");
  }
}

.slider__item-7 {
  background-image: url("../img/android-7.jpg");

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/android-7@2x.jpg");
  }
}

.webp .slider__item-7 {
  background-image: url("../img/webp/android-7.webp");

  @media (min-resolution: $retina2x-dpi), (min-resolution: $retina2x-dppx) {
    background-image: url("../img/webp/android-7@2x.webp");
  }
}
